@use "../abstract/" as *;

#about-us-page {
  text-align: center;

 @extend %h1-line;
 h1::before{
  width: 11rem;
}

  .img-wrapper {
    @include flexCenter;
  }

  .about-text {
    margin: 2rem;
    padding: 2.5rem;
  }
}
