@use "../abstract/" as *;

#about-us-page {
  text-align: center;
  @include flexCenter(column);
  @extend %h1-line;
  h1::before {
    width: 11rem;
  }

  .about-img-wrapper {
    @include flexCenter;
    width: fit-content;

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  .about-text {
    margin: 2rem;
    padding: 2.5rem;
    text-align: start;
    @include flexCenter(column);
    .long-text{
      @include flexCenter();
     
      gap: 5rem;
      margin-bottom: 1rem;

      .mission{
        border-right: 2px solid $accent-color;
        padding-right: 5rem;
   
      }
      border-bottom: 2px solid $accent-color;
    }
    .core-values{
      h3{
        text-align: center;
      }
      p{
        margin-left: 8rem;
      }
      border-bottom: 2px solid $accent-color;
    }
  }
}
