@use "../abstract/" as *;

#about-us-page {
  text-align: center;
  @include flexCenter(column);
  @extend %h1-line;
  h1::before {
    width: 11rem;
  }

  .about-img-wrapper {
    @include flexCenter;
    width: fit-content;

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  .about-text {
    margin: 2rem;
    padding: 2.5rem;
  }
}
