@use '../abstract/' as *;

.gallery {
  text-align: center;
  margin: 2rem;
  min-height: 95vh;
  @extend %h1-line;
  h1::before {
    width: 7rem;
  }
}

.img-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.img-wrapper {
  max-width: 500px;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid $accent-color;
  border-radius: 1.5rem;
}
