*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input {
  display: none;
}

body {
  height: 100vh;
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact-us-page h1, #about-us-page h1, .gallery h1 {
  font-weight: normal;
  font-size: 2.2rem;
  margin: 40px 0;
  position: relative;
}
#contact-us-page h1::before, #about-us-page h1::before, .gallery h1::before {
  content: "";
  position: absolute;
  width: 24rem;
  height: 3px;
  background: rgb(216, 233, 168);
  bottom: -10px;
  text-align: center;
}

.home {
  min-height: 95vh;
}

.gallery {
  text-align: center;
  margin: 2rem;
  min-height: 95vh;
}
.gallery h1::before {
  width: 7rem;
}

.img-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.img-wrapper {
  max-width: 500px;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid rgb(78, 159, 61);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#about-us-page {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#about-us-page h1::before {
  width: 9rem;
}
#about-us-page .about-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
}
#about-us-page .about-img-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
#about-us-page .about-text {
  margin: 2rem;
  padding: 2.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#about-us-page .about-text .long-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5rem;
  margin-bottom: 1rem;
}
#about-us-page .about-text .long-text .mission {
  border-right: 2px solid rgb(78, 159, 61);
  padding-right: 15rem;
}
#about-us-page .about-text .long-text .vision .table {
  display: flex;
}
#about-us-page .about-text .long-text .vision .table p {
  text-align: start;
  margin-left: 4rem;
}

#contact-us-page {
  width: 100vw;
  min-height: 100vh;
}
#contact-us-page h1::before {
  width: 11rem;
}
#contact-us-page h1 {
  margin-bottom: 7.5rem;
  text-align: center;
}
#contact-us-page .contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: start;
  gap: 5rem;
  margin-left: 9rem;
  flex-wrap: wrap;
}
#contact-us-page .contact-container .left-side {
  border-right: 2px solid rgb(78, 159, 61);
  padding-right: 5rem;
}
#contact-us-page .contact-container .left-side .left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
#contact-us-page .contact-container .left-side .left-content h5 {
  margin-top: 0.7rem;
}

.c-item {
  max-height: 30rem;
  min-height: 10rem;
}
.c-item .c-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.9);
}

.home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 1rem;
}
.home-btn__btns {
  width: 15em;
  height: 12em;
  box-shadow: rgba(78, 159, 61, 0.3) 0px 8px 24px;
}
.home-btn__btns .btn-wrapper {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-wrap: wrap;
}
.home-btn__btns .btn-wrapper h5 {
  color: rgb(78, 159, 61);
}

.navbar-brand img {
  width: 45%;
}

.nav-link {
  color: rgb(78, 159, 61);
}/*# sourceMappingURL=style.css.map */